---
Checks: >
  llvm-*,
  google-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,

# Set of modules to exclude from consideration
HeaderFilterRegex: '.*'

# Format-style to use when applying fixes
FormatStyle: file

# Warnings as errors
WarningsAsErrors: 'modernize-*'

# Include directories
ExtraArgs: []

# Include directories, with respect to the project root
ExtraArgsBefore: []

# Options specific to certain checks
CheckOptions:
  - key:             modernize-loop-convert
    value:           'true'
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack

